/* Global Styles */
body {
    font-family: 'Libre Baskerville', serif; /* Use Libre Baskerville throughout */
    background-color: #f0f4f3; /* Lighter cooler background */
    color: #3e3e3e; /* Dark grey for text */
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Styles */
nav {
    margin-top: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #3e3e3e; /* Match the color to the rest of the text */
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Section Padding */
section {
    padding: 50px;
}

/* Image Styling */
.profile-img {
    width: 250px; /* Adjust image size */
    height: 380px; /* Keep height bigger than width */
    border-radius: 0;
    margin-left: 20px;
}

/* Content Styles */
h1, h2 {
    font-family: 'Libre Baskerville', serif;
    color: #3e3e3e;
}

/* Increased line spacing for research and teaching listings */
ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

li {
    margin-bottom: 30px; /* More space between listings */
}

p {
    font-size: 1em;
    line-height: 1.6; /* Increased line height for readability */
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f2ebdb;
    color: rgb(51, 88, 56);
}
